.home-container {
  overflow: hidden;
}

.home-screen {
  position: relative;
  height: 100vh;
  width: 100vw;
  transform: scale(1.1);
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.drag-box {
  position: absolute;
  z-index: 1;
  width: 75px;
  height: 90px;
}

.folder-icon {
  width: 75px;
  height: 75px;
}

.folder-icon img {
  width: 100%;
  height: 100%;
}

.folder-name {
  color: #fff;
  text-shadow: 1px 1px #000;
  font-weight: bold;
  font-size: 0.756rem;
  text-align: center;
}

.rare-ep {
  top: 30%;
  left: 30%;
}

.new-content {
  top: 25%;
  left: 40%
}

.new-samples {
  top: 23%;
  left: 50%;
}

.noselect {
  /* Disable selecting the text */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@media screen and (max-width: 1028px) {
  .rare-ep {
    left: 20%;
  }
  
  .new-content {
    left: 40%
  }
  
  .new-samples {
    left: 60%;
  }
}

@media screen and (max-width: 528px) {
  .rare-ep {
    left: 15%;
  }
  
  .new-content {
    left: 40%
  }
  
  .new-samples {
    left: 70%;
  }
}